@import url('https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap');

:root {
  /* 
      FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
      COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
      TOGETHER WILL MAKE UP A GIVEN THEME
  */
  --swatch-foundation:    white; /* USED FOR BODY BACKGROUND */
  --swatch-primary:       white; /* DOMINANT COLOR, USED FOR MOST BACKGROUNDS */
  --swatch-complement:    #E1E4CB; /* USED IN FORGROUND OF PRIMARY FOR TEXT AND BORDERS */
  --swatch_contrast:      #111111; /* USED IN MOUSE-OVER SELECTION OF LARGE ELEMENTS */
  --swatch-accent:        #669966; /* USED IN MOUSE-OVER SELECTION OF TEXT AND BORDERS */    
  --my-font-family:          "Robaaaoto";
  --bounceEasing: cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

body {
  background-color: var(--swatch-foundation);
  font-family: 'Arial';
}




/* THIS CODE BELOW IS NOT IN THE RIGHT SECTION. TODO LATER ZZZZZZZZZZZZZZZ*/













div.banner {
  background-image: linear-gradient(to bottom,
  #F06393, #F9BED2);
  font-size: 48pt;
  font-weight: bold;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  padding-left: 19%;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 90%;
  height: 385px;
  position: relative;
  left: 12%;
}

.banner_text {
  position: relative;
  right: 2%;
  color: black;
}

.home_new_list_button {
  position: relative;
  left: 27%;

  margin-top: 4%;
  border-radius: 15px;
  font-size: 32pt;
}
.home_new_list_button:hover {
  box-shadow: 1px 2px;
}

.wireframes_header_text {
  position: relative;
  right: 0%;
  top: 13px;
  font-size: 210%;
  color: black;
  font-weight: bold;
}

.dashboard_container {
  position: absolute;
  right: 25%;
}

.brand_logo {
  position: absolute;
  left: 1%;
}

.nav_bar_text {
  color: #111111;
  font-weight: bold;
}

.right {
  position: absolute;
  right: 1%;
}

.wireframe_card {
  background-color: black;
}

.delete_wireframe {
  background-color: transparent;
  color: black;
  position: relative;
  float: right;
  font-weight: bold;
}

.nav_bar {
  background-color: #FFC581;
}

.card_title {
  position: relative;
  text-decoration: underline;
}

.btn-small {
  height: 25px;
  width: 60px;
  line-height: 5px;
  font-size: 11px;
  position: absolute;
}

.material-icons {
  position: absolute;
}

#zoom_in {
  top: 9%;
  left: 0%;
}

#zoom_out {
  top: 9%;
  left: 2%;
}

#save_button {
  top: 9%;
  left: 5%;
}

#close_button {
  top: 9%;
  left: 10.3%;
  width: 69px;
}

.container_text {
  position: absolute;
  font-weight: bold;
  top: 30.5%;
  left: 5%;
}

.container_picture {
  position: absolute;
  background-color: white;
  width: 12%;
  height: 10%;
  border: black;
  border: solid;
  border-width: 1.5px;
  border-radius: 3px;
  top: 20%;
  left: 2.3%;
}

.prompt_for_input_text {
  position: absolute;
  top: 43%;
  left: 3.2%;
}

.prompt_for_input_label {
  position: absolute;
  top: 46.2%;
  left: 6.1%;
  font-weight: bold;
  font-size: 15px;
  color: #111111;
}

.wireframe_button {
  position: absolute;
  top: 61.5%;
  left: 4.5%;
}

.button_label {
  position: absolute;
  top: 65%;
  left: 5.9%;
  font-weight: bold;
  font-size: 15px;
  color: #111111;
}

.wireframe_textfield_div {
  position: absolute;
  top: 75%;
  left: 2%;
  width: 13%;
}

.textfield_label {
  position: absolute;
  top: 84%;
  left: 5.4%;
  font-weight: bold;
  color: #111111;
  font-size: 15px;
}

.canvas {
  height: 650px;
  width: 100%;
  border: solid
}

.properties_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 11%;
  left: 85%;
}

.wireframe_textfield_edit_div {
  position: absolute;
  top: 17%;
  right: 2%;
  width: 13%;
}

.wireframe_font_size_edit_div {
  position: absolute;
  top: 27%;
  left: 92%;
  width: 6%;
}

.font_size_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 30%;
  left: 84.5%;
}

.font_color_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 40%;
  left: 84.5%;
}

.font_color_picker {
  position: absolute;
  top: 40%;
  left: 93%;
}

.background_color {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 50%;
  left: 84.5%;
}

.background_color_picker {
  position: absolute;
  top: 50%;
  left: 93%;
}

.border_color_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 60%;
  left: 84.5%;
}

.border_color_picker {
  position: absolute;
  top: 60%;
  left: 93%;
}

.border_thickness_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 70%;
  left: 84.5%;
}

.wireframe_border_thickness_edit_div {
  position: absolute;
  top: 67%;
  left: 96.5%;
  width: 3%;
}

.border_radius_text {
  position: absolute;
  font-weight: bold;
  color: black;
  top: 80%;
  left: 84.5%;
}

.wireframe_border_radius_edit_div {
  position: absolute;
  top: 77%;
  left: 94.5%;
  width: 4%;
}

#modal_yes_no_close_dialog {
  top: 162px;
  width: 500px;
  left: 23%;
  position: absolute;
}

#modal_yes_no_close_dialog button {
  height: 50px;
  width: 50px;
}

#modal_yes_no_close_dialog {
  height: 250px;
  visibility: hidden;
  z-index: 5;
  text-align: left;
  background-color: #EEE8AA
}

.modal_yes_no_close_dialog_slide_in {
  animation-name: slide_in_top;
  animation-duration: 0.5s;
}

@keyframes slide_in_top {
  from {top: -300px; opacity: 0}
  to {top: 162px; opacity: 1}
}

.modal_yes_no_close_dialog_slide_out {
  animation: slide_out_top;
  animation-duration: 0.5s;
}

@keyframes slide_out_top {
  from {top: 162px; opacity: 1}
  to {top: -300px; opacity: 0}
}











/* THIS CODE ABOVE IS NOT IN THE RIGHT SECTION. TODO LATER */




/* LIST SCREEN CONTROLS */
#list_heading {
  font-size: 36pt;
  cursor: pointer;
}
#list_heading:hover {
  color: var(--swatch-accent);
}
#modal_yes_no_dialog {
  height: 250px;
  visibility: visible;
  z-index: 5;
  text-align: left;
  background-color: #EEE8AA
}

.modal_yes_no_dialog_slide_in {
  animation-name: slide_in_top;
  animation-duration: 0.5s;
}

@keyframes slide_in_top {
  from {top: -300px; opacity: 0}
  to {top: 162px; opacity: 1}
}

.modal_yes_no_dialog_slide_out {
  animation: slide_out_top;
  animation-duration: 0.5s;
}

@keyframes slide_out_top {
  from {top: 162px; opacity: 1}
  to {top: -300px; opacity: 0}
}



#modal_yes_no_dialog button {
  height: 50px;
  width: 50px;
}
#list_details_container {}
#list_details_name_container {}
#list_name_prompt, #list_owner_prompt {
  font-size: 14pt;
}
#list_name_textfield, #list_owner_textfield {
  font-size: 14pt;
}
#list_details_owner_container {}
#list_trash {
  font-size: 40pt;
}
#list_trash:hover {
  color: var(--swatch-accent);
  cursor: pointer;
}
#list_items_container {}
#list_items_second_container {
  background-color: var(--swatch-primary);
}



/* HOME SCREEN CLASSES */
.home_list_link {
  color: var(--swatch-boundary);
  text-decoration: none;
}
.home_list_link:hover {
  color: var(--swatch-accent);
}

/* LIST SCREEN CONTROLS */
#list_heading {
  font-size: 36pt;
  cursor: pointer;
}
#list_heading:hover {
  color: var(--swatch-accent);
}
#modal_yes_no_dialog {
  height: 250px;
  visibility: hidden;
  z-index: 5;
  text-align: left;
  background-color: #EEE8AA
}

.modal_yes_no_dialog_slide_in
{
  animation-name: slide_in_top;
  animation-duration: 0.5s;
}

@keyframes slide_in_top {
  from {top: -300px; opacity: 0}
  to {top: 162px; opacity: 1}
}

.modal_yes_no_dialog_slide_out
{
  animation: slide_out_top;
  animation-duration: 0.5s;
}

@keyframes slide_out_top {
  from {top: 162px; opacity: 1}
  to {top: -300px; opacity: 0}
}



#modal_yes_no_dialog button {
  height: 50px;
  width: 50px;
}
#list_details_container {}
#list_details_name_container {}
#list_name_prompt, #list_owner_prompt {
  font-size: 14pt;
}
#list_name_textfield, #list_owner_textfield {
  font-size: 14pt;
}
#list_details_owner_container {}
#list_trash {
  font-size: 40pt;
}
#list_trash:hover {
  color: var(--swatch-accent);
  cursor: pointer;
}
#list_items_container {}
#list_items_second_container {
  background-color: var(--swatch-primary);
}

/* LIST SCREEN CLASSES */
.list_item_card, .list_item_add_card {
  background-color: var(--swatch-neutral);
}
.list_item_card:hover, .list_item_add_card:hover {
  background-color: var(--swatch-complement);
}
.list_item_add_card {
  font-weight: bold;
  font-size: 24pt;
}
.list_item_add_card:hover {
  color: var(--swatch-bright-accent);
}
.list_item_header_card {
  background-color: var(--swatch-accent);
}
.list_item_task_header, .list_item_due_date_header, .list_item_status_header {
  font-weight: bold;
  font-size: 24pt;
}
.list_item_task_header:hover, .list_item_due_date_header:hover, .list_item_status_header:hover {
  color: var(--swatch-primary);
}
.list_item_task_header {}
.list_item_due_date_header {}
.list_item_status_header {}
.list_item_card_description {
  font-weight: bold;
  font-size: 14pt;
}
.list_item_card_assigned_to, .list_item_card_due_date, 
.list_item_card_completed, .list_item_card_not_completed {
  font-weight: normal;
  font-size: 12pt;
}
.list_item_card_assigned_to {}
.list_item_card_due_date {}
.list_item_card_completed {
  color: green;
}
.list_item_card_not_completed {
  color: red;
}
.list_item_card_toolbar {}
.list_item_card_button {
  background-color: var(--swatch-accent);
  color: var(--swatch-neutral);
  font-size: 24pt;
  font-weight: bold;
}
.list_item_card_button:hover {
  color: var(--swatch-complement);
  cursor: default;
}
.disabled {
  background-color: lightgray;
}
.disabled:hover {
  color: var(--swatch-neutral);
}


/* NEW ITEM BUTTON DIV AND BUTTON */
.new_item_button_div {
  width: 100%;
  height: 60px;
  text-align: center;
}
.new_item_button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  outline: none;
  background-image: url("../images/AddItem.png")
}

.list_item_card_button {
  width: 48px;
  height: 48px;
  background-color: #669966;
  background-position: center;
}
.list_item_card_button:disabled {
  background-color: white
}

/* NEW/EDIT ITEM SCREEN CLASSES */
.edit_home_object {
  font-size: 20px;
  width: 50%;
}
.todo_edit_button {
  font-size: 16pt;
  border-radius: 5px;
  bottom: 0%;
}
.todo_edit_button:hover {
  box-shadow: 1px 2px;
}
#todo_edit {
  background-color: #E1E4CB;
}
#todo_edit_home {
  background-color: #E6E6E6;
}